:root{
    --main-color:#28255f;
}

.auth-container {
  height: 100vh;
  background: #f5f6fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth-tabs {
  margin-bottom: 20px;
}

.auth-tabs span {
  margin: 0 15px;
  cursor: pointer;
  font-weight: 500;
  color: #999;
  position: relative;
}

.auth-tabs span.active {
  color:var(--main-color);
}

.auth-tabs span.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background:var(--main-color);
  position: absolute;
  bottom: -5px;
  left: 0;
}

.auth-box {
  width: 900px;
  height: 520px;
  background: #fff;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  position: relative;
}

.auth-info {
  width: 50%;
  background: var(--main-color);
  color: #fff;
  padding: 60px;
  transition: 0.6s ease-in-out;
}

.auth-info h1 {
  font-size: 48px;
}

.customers {
  position: absolute;
  bottom: 30px;
  left: 60px;
  font-size: 14px;
}

.auth-form {
  width: 50%;
  padding: 60px;
  transition: .6s ease-in-out;
  background-color: white;
}

.auth-form input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 8px 8px;
  outline: none;
}

.auth-form .forgot {
  font-size: 12px;
  float: right;
  margin-bottom: 10px;
  color:var(--main-color);
  
}
button{
    width: 100%;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: white;
  border-radius: 20px;
  border: none;
 margin-top: 10px;
}

.auth-box.signup .auth-info {
  transform: translateX(100%);
}

.auth-box.signup .auth-form {
  transform: translateX(-100%);
}